<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <!-- display user email in header when logged in -->
    <% if (user) { %>
      <form class="form-inline" action="/logout" method="POST">
        <label class="mr-sm-2 text-black-50 mb-0 m-1">Logged in as: <%= user.email %></label>
        <button type="submit" class="btn btn-primary m-1">Logout</button>
      </form>
    <!-- display login and register links if no user logged in -->
    <% } else { %>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
      </div>
    </div>
    <% } %>
  </nav>
</header>